/* You can add global styles to this file, and also import other style files */

$danger: #e62429;
$primary: #e62429;
h1,
h2,
h3,
h4,
h5 {
    text-align: center color;
    font-weight: bold !important
}

@import '../node_modules/bootstrap/scss/bootstrap'